 /* Google fonts */
 @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Edu+SA+Beginner:wght@400;500;600;700&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap');

 /*    
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Edu VIC WA NT Beginner', cursive;
*/
 * {
     box-sizing: border-box
 }

 :root {
    --background-color: #000000;
    --foreground-color: #ffffff;
    --pink-dark-color: #ff1493;
    --cyan-dark-color: #31dddd;
    --neon-text-color: #f40;
    --neon-border-color: #08f;
 }

 body {
     font-family: 'Edu NSW ACT Foundation', cursive;
     width: 900px;
     margin: auto;
     color: var(--foreground-color);
     background-color: var(--background-color);
 }

 h1 {
     text-align: center;
 }

 .l-logo{
    font-weight: 700;
    text-decoration: underline;
    color: var(--pink-dark-color);
    cursor: pointer;
    text-shadow: 0 0 7px var(--pink-dark-color), 0 0 10px var(--pink-dark-color), 0 0 21px var(--pink-dark-color), 0 0 42px var(--pink-dark-color), 0 0 82px var(--pink-dark-color), 0 0 92px var(--pink-dark-color), 0 0 102px var(--pink-dark-color), 0 0 151px var(--pink-dark-color), 0 0 186px var(--pink-dark-color), 0 0 202px var(--pink-dark-color), 0 0 251px var(--pink-dark-color), 0 0 291px var(--pink-dark-color);
 }

 main {
     display: flex;
 }

 /* Style the tab */
 .tab {
     border: 2px solid var(--pink-dark-color);
     box-shadow: 2px 2px var(--cyan-dark-color);
     width: 14%;
     margin: 0 12px;
     padding: 22px;
     height: fit-content;
 }

 /* Style the buttons inside the tab */
 .tab .tablinks {
     display: block;
     background-color: inherit;
     color: #d5fffd;
     padding: 4px;
     width: 100%;
     border: none;
     outline: none;
     text-align: center;
     cursor: pointer;
     transition: 0.3s;
     font-size: 17px;
 }

 /* Change background color of buttons on hover */
 .tab .tablinks:hover {
     text-shadow: 1px 1px cyan,
         4px 2px 2px cyan;
 }

 /* Create an active/current "tab button" class */
 .tab .tablinks.active {
     color: #d1fffd;
     text-shadow: 1px 1px cyan,
         4px 2px 2px cyan;
     text-decoration: underline;
 }

 .logo {
     display: block;
     background-color: inherit;
     color: var(--pink-dark-color);
     padding: 4px;
     width: 100%;
     border: none;
     outline: none;
     text-align: center;
     cursor: pointer;
     transition: 0.3s;
     font-size: 17px;
     font-style: bold;
     text-shadow: 1px 1px var(--pink-dark-color),
         4px 2px 2px var(--pink-dark-color);
     text-decoration: underline;
     font-weight: 500;
 }

 .logo:hover {
     cursor: pointer;
     font-weight: 700;
 }


 /* Style the tab content */
 .tabcontent {
     display: block;
     padding: 3rem;
     border: 2px solid var(--pink-dark-color);
     box-shadow: 2px 2x cyan;
     width: 86%;
     height: 85vh;
 }


 footer {
     text-align: center;
 }